---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">Featured</h3>
<div class="entries-list">
  {% assign pinned_posts = site.posts | where_exp: "post", "post.pin == true" %}
  {% include documents-collection.html entries=pinned_posts type="list" %}
</div>

<h3 class="archive__subtitle">
  {{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}
</h3>
<div class="entries-list">
  {% assign posts = site.posts | where_exp: "post", "post.pin != true" | slice: 0,3 %}
  {% include documents-collection.html entries=posts type="list" %}
</div>
